h1, h2 {
  font-family: Lato;
}

/* #name{
  height: fit-content;
  background-color: rgba(0, 255, 255, 0);
}
#name h1{
  color: antiquewhite;
  padding-top: 25vh;
  align-items: center;
  justify-content: center;
} */